img {
    width: 80px;
    height:80px;
}

body {
    background-image: url(./assets/Moon-space-stars-galaxy-space-art-photo-manipulation-2115077-wallhere.com.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
